---
import { documentToHtmlString } from '@contentful/rich-text-html-renderer'
import { Image } from 'astro:assets'
import { richTextOptions } from '../lib/richTextOptions'
import { formatDateRangeDutch } from '../lib/dateFormatter'
import type { CollectionEntry } from 'astro:content'
import Icon from '../components/Icon.astro'

interface Props {
  event: CollectionEntry<'events'>['data']
}

const {
  event: data
} = Astro.props

const dateRange = formatDateRangeDutch(data.dateStart, data.dateEnd)
const imageUrl = data.featuredImage?.fields?.file?.url 
  ? `https:${data.featuredImage.fields.file.url}`
  : null
---

<article class='border-b mb-6 pb-6'>
  <h1 class='text-2xl md:text-3xl font-bold mb-2'>{data.name}</h1>

  <time class='flex items-center gap-2 text-gray-600 mb-4' datetime={data.dateStart}>
    <Icon name='calendar' class='w-5 h-5' />
    {dateRange}
  </time>

  {
    data.featuredImage && imageUrl && (
      <figure class='mb-6'>
        <Image
          src={imageUrl}
          alt={data.featuredImage.fields.title || data.name}
          width={782}
          widths={[360, 640, 782]}
          sizes='(min-width: 1024px) 782px, (min-width: 768px) 80vw, calc(100vw - 3rem)'
          height={
            Math.round((782 / data.featuredImage.fields.file.details.image.width) *
            data.featuredImage.fields.file.details.image.height)
          }
          loading='eager'
          class='rounded-lg shadow-sm'
        />
      </figure>
    )
  }

  {
    data.description && (
      <div class='prose prose-lg max-w-none' set:html={documentToHtmlString(data.description, richTextOptions)} />
    )
  }
</article>
